.container.container_contact{
  
    height: 100vh;
    display: grid;
    grid-template-columns: 35% 50%;
    gap:12%;
    text-align: center;
}
.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.contact_option{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 0%;
    text-align: center;
    transition: var(--transition);
}
.contact_option:hover{
    background: transparent;

}
/*=========================== FORM =========================*/

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    overflow: hidden;
}
input,textarea{
    width:100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--color-light);
    border: 2px solid var(--color-primary-variant);
    resize: none;

}

/*====================== Media Queries (MD) =========================== */

@media screen and (max-width: 1024px){
    .container.container_contact{
        grid-template-columns: 1fr;
        width: var(--container-width-sm);
        padding-bottom: 5%;
        padding-top: 5%;
        gap: 2rem;
    }
    input,textarea{
        width: 100%;

    
    }

}


/*====================== Media Queries (SD) =========================== */

@media screen and (max-width: 600px){

    .container.container_contact{
        height: 200vh;
        grid-template-columns: 1fr;
        width: var(--container-width-sm);
        padding-bottom: 5%;
        padding-top: 5%;
    }
    .margin_mob2{
        margin-top: 50rem;
        padding-top: 20%;
  
    }
    input,textarea{
        width: 100%;


        
    
    }
}