
.experience_container{
    text-align: center;
    height: 125vh;
    position: relative;
}

.experience__cards{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 1.5rem;
}
.exp__card{
    
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.4rem;
    text-align: center;

}


/*====================== Media Queries (MD) =========================== */

@media screen and (max-width: 1224px){
    section{
        height: 220vh;
    }
    .experience_container{
        text-align: center;
        height: fit-content;
        position: relative;
    }
    .experience__cards{
        grid-template-columns: 1fr;
        gap: 1rem;
        
    }
    .exp__card{
        padding: 0.4rem;
    }
    

}


/*====================== Media Queries (SD) =========================== */

@media screen and (max-width: 600px){
    section{
        height: 300vh;
    }
    .experience_container{
        text-align: center;
        position: relative;
    }
    .experience__cards{
        grid-template-columns: 1fr;
        gap: 1rem;
        
    }
    


    
}